#root {
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.home-screen {
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spinner, .dog-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.dog-image {
  padding: 4rem;
  width: 400px;
  height: 200px;
}
